.container-fluid{
    background-color: #e9f6ff;
    height: 100vh;
}

.reader{
    padding: 2%;
}

.reader-form{
    background-color: #ffffff;
    height: 90vh;
}

.reader-frame{
    height: 100%;
    width: 100%;
    margin-top: 3%;
}


@media only screen and (max-width: 1000px) {
    .reader-form{
        background-color: #ffffff;
        height: 70vh;
    }
}
  



